* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: azure;
}

.wrapper {
  text-align: center;
}

@media (max-width: 768px) {
  body {
    background-position: center;
  }
}
